.grid {
    display: grid;
    grid-template:  100px 500px / 1fr 2fr
}

h3 {
   grid-area: 1/1/1/3;
   display: flex;
   margin-left: 20px;
   align-items: center;
}

.buttons {
    grid-area: 2/1/2/1;
    
}

.buttons button {
    height: 50px;
    width: 120px;
    margin-top: 50px;
    margin-left: 10px;
}